In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix

In [3]:
housing = pd.read_csv("files/housing.csv")

--> Fun

In [4]:
housing, housing_test = train_test_split(housing, test_size=0.2, stratify= housing["ocean_proximity"], random_state= 42)

In [5]:
# Feature and Label

In [6]:
housing_labels = housing["median_house_value"].copy()
housing = housing.drop("median_house_value", axis = 1)

In [7]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
2931,-121.88,38.00,22.0,721.0,117.0,367.0,129.0,5.3098,INLAND
4175,-117.82,33.85,18.0,1810.0,305.0,1189.0,326.0,5.2227,<1H OCEAN
12703,-118.31,34.09,34.0,2065.0,839.0,2626.0,775.0,1.8214,<1H OCEAN
16281,-120.76,38.60,14.0,2925.0,625.0,1226.0,437.0,2.5865,INLAND
12420,-118.09,33.92,36.0,847.0,185.0,713.0,194.0,4.8542,<1H OCEAN
...,...,...,...,...,...,...,...,...,...
3666,-118.21,34.13,52.0,2465.0,611.0,1433.0,570.0,3.2500,<1H OCEAN
17452,-122.88,38.34,20.0,3404.0,628.0,1641.0,585.0,5.0574,<1H OCEAN
3006,-118.03,33.90,36.0,1143.0,193.0,826.0,188.0,5.3184,<1H OCEAN
3297,-118.36,34.09,36.0,1390.0,458.0,874.0,468.0,2.5812,<1H OCEAN
19932,-118.11,33.79,36.0,1993.0,354.0,884.0,337.0,5.5870,<1H OCEAN

In [8]:
housing_labels

2931     151900.0
4175     213500.0
12703    211100.0
16281    133800.0
12420    167400.0
           ...
3666     214200.0
17452    276200.0
3006     171100.0
3297     200000.0
19932    244900.0
Name: median_house_value, Length: 16512, dtype: float64

In [9]:
# Clean the dataset

--> missing value
--> upper lowe cap
--> round off
--> scaling
--> feature selection
--> feature engineering
--> convert to bell shape