In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.impute import SimpleImputer

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

housing = pd.read_csv("files/housing.csv")
housing_cat = housing[["ocean_proximity"]]
housing_num = housing.select_dtypes(np.number)

In [3]:
housing_num

       longitude  latitude  housing_median_age  total_rooms  ...  population  households  median_income  median_house_value
0        -122.23     37.88                41.0        880.0  ...       322.0       126.0         8.3252            452600.0
1        -122.22     37.86                21.0       7099.0  ...      2401.0      1138.0         8.3014            358500.0
2        -122.24     37.85                52.0       1467.0  ...       496.0       177.0         7.2574            352100.0
3        -122.25     37.85                52.0       1274.0  ...       558.0       219.0         5.6431            341300.0
4        -122.25     37.85                52.0       1627.0  ...       565.0       259.0         3.8462            342200.0
...          ...       ...                 ...          ...  ...         ...         ...            ...                 ...
20635    -121.09     39.48                25.0       1665.0  ...       845.0       330.0         1.5603             78100.0
20636    -121.21     39.49                18.0        697.0  ...       356.0       114.0         2.5568             77100.0
20637    -121.22     39.43                17.0       2254.0  ...      1007.0       433.0         1.7000             92300.0
20638    -121.32     39.43                18.0       1860.0  ...       741.0       349.0         1.8672             84700.0
20639    -121.24     39.37                16.0       2785.0  ...      1387.0       530.0         2.3886             89400.0

[20640 rows x 9 columns]

In [5]:
std_slr = StandardScaler()

In [9]:
arr = std_slr.fit_transform(housing_num)

In [10]:
clm = std_slr.get_feature_names_out()

In [17]:
pd.DataFrame(arr, columns= clm)[["population"]].std()

population    1.000024
dtype: float64

In [18]:
pd.DataFrame(arr, columns= clm).std()

longitude             1.000024
latitude              1.000024
housing_median_age    1.000024
total_rooms           1.000024
total_bedrooms        1.000024
population            1.000024
households            1.000024
median_income         1.000024
median_house_value    1.000024
dtype: float64

In [19]:
# Min -->:  v-mi/mx-mi

In [20]:
min_max = MinMaxScaler()

In [27]:
min_max.fit_transform(housing_num).sum()

nan

In [28]:
a = np.array([1,2,3])

In [30]:
a.sum()

6

In [31]:
a.std()

0.816496580927726